      {% include 'navbar.html' %}

    <div class="columns">
      <div class="column">
        <div class="panel is-warning">
          <img src="static/roulette.jpg" alt="certificate" width="350" height="350">
          <div>
            <h5>Roulette</h5>
            <a href="/roulette"<p>Venez tenter votre chance!</p> </a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="panel is-warning">
            <img src="static/slot_machine.jpg" alt="instructor" width="350" height="350">
            <div>
              <h5>Machine à sous</h5>
              <p>Venez tenter votre chance!</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="panel is-warning">
          <img src="static/poker.jpg" alt="job search" width="350" height="350">
          <div>
            <h5>Poker</h5>
            <p>Venez tenter votre chance!</p>
          </div>
        </div>
      </div>
    </div>

       {% include 'footer.html' %}
